canvas{
    display: block;
}

.footerWrapper {
    position: relative;
    height: 100%;
  }
.webgl{
    height: 100vh!important;
    width: 100vw!important;
}
footer {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    text-align: center;
    padding: 0;
    position: relative;
}

footer .name {
    overflow: hidden;
}

footer .name h3{
    color: white;
    font-size: 3rem;
    font-weight: lighter;
}

.footerContents::after{
    content: '';
    background-color: #00000022;
    /* backdrop-filter: blur(3px); */
    filter: blur(10px);
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.canvasContainer {
  /* Position the canvas at the top of the footer */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Set a lower z-index to place it behind other elements */
}


.footerContents{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 1rem;
    place-items: center;
    /* position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%); */
    /* margin-top: 30%; */
    /* transform: translateY(8rem); */
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.footerContents .name,
.footerContents .resumeBtn,
.footerContents .credits,
.footerContents .contact,
.footerContents .icons-container {
  position: relative;
  z-index: 1; /* Set a higher z-index to place them above the canvas */
}
.resumeBtn {
    /* position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%); */
    font-family: 'Source Code Pro', monospace;
    cursor: pointer!important;
}

.btn {
    font-size: 20px;
    background: transparent;
    border: none;
    padding: 0.3em 1.25em;
    color: #fff;
    /* text-transform: uppercase; */
    font-family: 'Source Code Pro', monospace;
    position: relative;
    transition: .5s ease;
    cursor: pointer!important;
}

.btn::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #ff5500;
    transition: .5s ease;
}

.btn:hover {
    color: #121213;
    transition-delay: .5s;
}

.btn:hover::before {
    width: 100%;
}

.btn::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #ff5500;
    transition: .4s ease;
    z-index: -1;
}

.btn:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: #ff5500;
}

.credits {
    /* position: absolute;
    left: 50%;
    top: 95%;
    transform: translateX(-50%); */
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: 20px;
    /* margin: -1rem auto 1rem; */
}

.credits a {
    color: #f2531e;
}

.credits a:hover {
    color: #ffe6de;
}

footer .contact {
    /* position: absolute;
    left: 50%;
    top: 120%;
    transform: translateX(-50%); */
    background-color: #00000000;
    color: #fff;
    font-size: 1.5rem;
    /* border-bottom: 1px solid #fff; */
    width: 40%;
    /* padding-bottom: 2.5rem; */
    margin: 0.75rem auto -2rem;
    margin: 0.75rem auto;
}

footer .icons-container {
     position: relative;
    /*left: 50%;
    top: 140%;
    transform: translateX(-50%); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    margin: 0.2rem auto;
    padding: 0.5rem 0;
    background-color: transparent;
}

.icons-container::after,.icons-container::before{
    position: absolute;
    content: '';
    background-color: white;
    height: 1px;
    width: 100%;
    transform: translateX(-100%);
}

.icons-container::before{
    transform: translateX(100%);
}

.icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid #fff;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.icon-circle:hover {
    background-color: white;
}

/* .icon-circle > *{
    transition: all 0.2s ease-out!important;
} */
.icon-circle svg{
    transition: all 0.01s ease-in;
    transition-delay: -1s;
}
.icon-circle:hover svg {
    fill: #000; /* Change the fill color to black on hover */
}
.icon-circle:hover #Dribbble-Light-Preview{
    fill: #000;
}
@media(max-width:800px){
    footer .icons-container{
        width:25%;
    }
}
@media (max-width:426px){
    footer .icons-container{
        width: auto;
        gap: 1rem;
    }
    footer .icons-container::after {
        width: 70%;
        margin-right: 16vw;
    }
    .footerContents::after{
        background-color: #0000007f;
    }

    footer .icons-container::before{
        width: 70%;
        margin-left: 16vw;
    }
    footer .contact{
        width: auto;
    }
    .credits{
        width: 90%;
    margin: 0.5rem auto;
    }
}

@media (max-width:376px){
    footer .icons-container::after {
        width: 60%;
        margin-right: 22vw;
    }

    footer .icons-container::before{
        width: 60%;
        margin-left: 22vw;
    } 

}

@media (max-width:321px){
    footer .icons-container::after {
        width: 40%;
        margin-right:35vw;
    }

    footer .icons-container::before{
        width: 40%;
        margin-left: 35vw;
    } 
}